In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import sqlite3

In [7]:
conn = sqlite3.connect('/Users/emirdinc/Downloads/sample.sqlite')

In [8]:
account_df = pd.read_sql_query("SELECT * FROM account", conn)

In [9]:
account_df

,account_id,created_time,created_device,created_platform,country_code,created_app_store_id
0,13514010,2016-03-02 17:11:00.332,"iPhone6,2",iOS,GB,1
1,4308483975,2016-03-02 20:57:46.14,MIDC147PJ,Android,FR,2
2,17193137415,2016-03-02 13:52:16.735,SM-G360F,Android,IT,2
3,21488104920,2016-03-02 12:43:27.899,H60-L01,Android,CN,8
4,21488107995,2016-03-02 17:20:12.145,GT-I9500,Android,RU,2
...,...,...,...,...,...,...
112787,51554039942,2016-08-07 13:32:49.115,KOPO L128,Android,CN,4
112788,51554090637,2016-08-11 22:20:27.192,SM-G3608,Android,CN,15
112789,51554102314,2016-08-12 21:10:20.742,"iPhone8,4",iOS,US,1
112790,51554116380,2016-08-14 01:37:13.821,SM-G935F,Android,HR,2
112791,51554126520,2016-08-14 19:31:45.436,"iPad3,1",iOS,GB,1